<html>
    <head>
        <title>Todo App</title>
        <style>
            .hidden {
                display: none;
            }
            ul {
                list-style: none;
                padding:0;
                margin: 0;
                width: 200px;
            }
            li {
                clear: both;
            }
            li button {
                -webkit-appearance: none;
                border: none;
                outline: none;
                color: red;
                float: right;
                cursor:pointer;
                font-size: 20px;
            }
        </style>
    </head>
    <body>

        <form id="form" >
            <div>
                <label for="description">Create a To-Do item</label>
            </div>
            <div>
                <input type="text" id= "description" name="description">
            </div>
            <div>
                <input type="submit" id="submit" value="Create"/>
            </div>
            <div id="error" class="hidden" style="display:none;"> Something went wrong!</div>
        </form>

        <ul id="todos">
            {% for d in data%}
            <li><input class ='check-completed' type="checkbox" data-id = "{{d.id}}"{%if d.completed %} checked {%
                 endif %}/>
                 {{d.description}} 
                 <button>&cross;</button>
            </li>
            {% endfor %}
        </ul>

        <script>
            const checkboxes = document.querySelectorAll('.check-completed');
            for (let i = 0; i < checked.lenght;i++) {
                const checkbox = checkboxes[i];
                checkbox.onchange = function (){
                    console.log('event',e);
                    const newCompleted = e.target.checked;
                    const todoId = e.target.dataset['id'];
                    fetch('/todo/'+todoId+'set-completed', {

                        method: 'POST'
                        body: JSON.stringify({

                            'completed': newCompleted
                        }),
                        headers: {
                            'Content-Type': 'application/json'
                        }
                    })
                    .then(function(){
                        document.getElementById('error').className='hidden';
                    })
                    .catch(function()) {
                        document.getElementById('error').className='';
                    }
                }                
            }
            document.getElementById('form').onsubmit = function(e) {
                e.preventDefault();
                const description = document.getElementById('description').value;
                fetch('/todo/create', {
                    method: 'POST',
                    body: JSON.stringify({
                        'description': description
                    }),
                    headers: {
                        'Content-Type': 'application/json' 
                    }
            })
            .then(function (response){
                return response.json();
            })
            .then(function(jsonResponse) {
                console.log(jsonResponse);
                const liItem = document.createElement('LI');
                liItem.innerHTML = jsonResponse['description'];
                document.getElementById('todos').appendChild(liItem);
                document.getElementById('error').className = 'hidden';
            })

            .catch(function(){
                document.getElementById('error').className = '';
            })


        }
        </script>
        
        

    </body>
</html>