<html>
    <head>
        <title>Todo App</title>
        <style>
            .hidden {
                display: none;
            }
            ul {
                list-style: none;
                padding:0;
                margin: 0;
                width: 200px;
            }
            li {
                clear: both;
            }
            li button{
               
                border: none;
                outline: none;
                color: red;
                float: right;
                cursor:pointer;
                font-size: 20px;
                background-color: Transparent;
                background-repeat:no-repeat;
                border: none
            }
            .todo-wrapper, .list-wrapper {
                display: inline-block;
                vertical-align: top;
            }
        </style>
    </head>
    <body>


        <div class="list-wrapper">
            <h3>TODO LISTS</h3>

            <form id="form_list" >
               <label for="description_list">Create List:</label>
       
               <input type="text" id= "description_list" name="description_list">
               
               
               <input type="submit" id="submit_2" value="Create"/>
               
               <div id="error" class="hidden" style="display:none;"> Something went wrong!</div>
           </form>
     
           
            <ul id="lists">
                {% for list in lists%}
                <li> <a href="/lists/{{list.id}}">  {{list.name }} </a> </li>
                {% endfor %}
            </ul>
        </div>

        <div class="todo-wrapper">
        <h3>TODO ITEMS</h3>

        <form id="form" >
           
            <label for="description">Create Task:</label>
    
            <input type="text" id= "description" name="description">
            
            
            <input type="submit" id="submit" value="Create"/>

            
            <div id="error" class="hidden" style="display:none;"> Something went wrong!</div>
        </form>
        
        <h4>{{active_list.name}}</h4>
    
  

        <ul id="todos">
            {% for d in todos%}
            <li><input class ='check-completed' type="checkbox" data-id = "{{d.id}}"{% if d.completed %} checked {%
                 endif %} />
                 {{d.description}} 
                 <button class ='closed' data-id = "{{d.id}}">&cross;</button>
            </li>
            {% endfor %}
        </ul>
    </div>

        <script>

            const closeds =document.querySelectorAll('.closed')
       
            for (let i = 0; i<closeds.length;i++){

                const xButton = closeds[i];
                xButton.onclick=function(e){
                    console.log('Event',e);
                    const todoId = e.target.dataset['id']
                    fetch('/todo/'+todoId+'/delete', {
                        method: 'DELETE'
                    })
                    .then(function(){
                        document.getElementById('error').className='hidden';
                    })
                    .catch(function() {
                        document.getElementById('error').className='';
                    })
                    
                }
            }
            const checkboxes = document.querySelectorAll('.check-completed');
            for (let i = 0; i < checkboxes.length; i++) {
                const checkbox = checkboxes[i];
                checkbox.onchange = function (e){
                    console.log('event',e);
                    const newCompleted = e.target.checked;
                    const todoId = e.target.dataset['id'];
                    fetch('/todo/'+todoId+'/set-completed', {

                        method: 'POST',
                        body: JSON.stringify({

                            'completed': newCompleted
                        }),
                        headers: {
                            'Content-Type': 'application/json'
                        }
                    })
                    .then(function(){
                        document.getElementById('error').className='hidden';
                    })
                    .catch(function() {
                        document.getElementById('error').className='';
                    })
                }               
            }
       
            
            document.getElementById('form').onsubmit = function(e) {
                e.preventDefault();
                console.log(active_list);
                fetch('/todo/create', {
                    method: 'POST',
                    body: JSON.stringify({
                        'description': document.getElementById('description').value,
                        'id': active_list.id
                    }),
                    headers: {
                        'Content-Type': 'application/json',
                    }
            })
            .then(function (response){
                return response.json();
            })
            .then(function(jsonResponse) {
                console.log(jsonResponse);
                const liItem = document.createElement('LI');
                liItem.innerHTML = jsonResponse['description'];
                document.getElementById('todos').appendChild(liItem);
                document.getElementById('error').className = 'hidden';
            })

            .catch(function(){
                document.getElementById('error').className = '';
            })

        }


        document.getElementById('form_list').onsubmit = function(e) {
            e.preventDefault();
            fetch('/list/create', {
                method: 'POST',
                body: JSON.stringify({
                    'name': document.getElementById('description_list').value
                }),
                headers: {
                    'Content-Type': 'application/json',
                }
        })
        .then(function (response){
            return response.json();
        })
        .then(function(jsonResponse) {
            console.log(jsonResponse);
            const liItem = document.createElement('LI');
            liItem.innerHTML = jsonResponse['name'];
            document.getElementById('lists').appendChild(liItem);
            document.getElementById('error').className = 'hidden';
        })

        .catch(function(){
            document.getElementById('error').className = '';
        })
    }
        </script>
        
        

    </body>
</html>